* {
	box-sizing: border-box;
}

.body {
	background: #ffc600;
}

.main-container {
	text-align: center;
}

.content {
	background-color: white;
	margin: 48px auto;
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	word-wrap: break-word;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding: 25px;
}

.info {
	font-size: 32px;
}

.info__specs {
	font-weight: bold;
	color: #73bd63;
	font-style: italic;
}
